@model _23._1News.Models.Db.SpotRate

@{
    ViewData["Title"] = "Currency Exchange";
}

<h1>Currency Exchange Rates</h1>
<h2>Base Currency = USD</h2>

@* @foreach (var todaysRate in Model.Rates)
{ *@
    <h4>Todays Spot Prices</h4>

    <table class="table table-bordered table-striped table-hover table-sm">
        <thead>
            <tr>
                <th>Date and Time</th>
                <th>Currency</th>
                <th>Exchange Rate</th>
                
            </tr>
        </thead>
        <tbody>
            @foreach (var (symbol, value) in Model.Rates)
            {
                <tr>
                <td>@DateTime.UtcNow</td>
                    <td>@symbol</td>
                    <td>@value</td>
                  
                </tr>
            }
        </tbody>
    </table>
@* } *@
