@model _23._1News.Models.Db.ExchangeRates

<h2>Currency Exchange Rates</h2>
<h3>Base Currency = USD</h3>

<hr />

<table class="table table-bordered table-striped table-hover table-sm table-light">
    <thead>
        <tr>
            <th>Date and Time</th>
            <th>Currency</th>
            <th>Rate</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var (symbol, value) in Model.Rates)
        {
            <tr>
                <td>@DateTime.Now</td>
                <td>@symbol</td>
                <td>@value</td>

            </tr>
        }
    </tbody>
</table>
