* {
    margin: 0;
    padding: 0;
}


html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}


/*body {
    margin-bottom: 100px;
}*/

.header-top {
    margin-top: 20px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-content: flex-start;
}

.header-top1 {
    margin-top: 20px;
    display: flex;

    
}


a:link {

    text-decoration: none;
}

.card-text {

    color: black;
}

#sidebar {
    width: 250px;
    float: right;
    margin-top: 40px;
}

.nav-item001:hover {
    background-color: #2fa4e7;
    color:white;
    font-size: large;
}

.container {
    height: 100%;
    padding-bottom: 100px;
}

/*#content001 {
    position: relative;
    width: 100%;
    min-height: 100%;
    padding-bottom: 50px;
}*/

#frontpagefooter {
    bottom: 0;
    position: absolute;
    width:100%;
}

#hover002:hover {
    color: grey;
    font-size: large;
}

#hover001:hover {
    font-size: large;
}

.payment{
    display:flex;
    align-items:center;
    justify-content:center;
}

#pay{
   cursor:pointer;

}

.popup {
    width: 90%;
    height: 300px;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    top: 0%;
    left: 5%;
    transform: translate(-50%,-50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    border-radius: 5%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    visibility:hidden;
    transition: transform 0.4s,top 0.4s;
}

@media only screen and (max-width: 700px) {
    .popup {
        width: 100%;
        margin-left: 45%;
    }
}



.open-popup {
    visibility: visible;
    top:20%;
    transform:translate(-50%,-50%) scale(1);
}


.popup img{
    width:100px;
    margin-top:-50px;
    border-radius:50%;
    box-shadow:0 2px 5px rgba(0,0,0,0.2);
}


.popup h2{
    font-size:38px;
    font-weight:500;
    margin:30px 0 10px;
}

.popup button {
    width: 100%;
    margin-top: 20px;
    padding: 10px 0;
    background: #2fa4e7;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
}



#footer001:hover {
    font-size: large;
    color:white;
}


