html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}


body {
    margin-bottom: 100px;
}

.header-top {
    margin-top: 20px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-content: flex-start;
}

.header-top1 {
    margin-top: 20px;
    display: flex;

    
}


a:link {

    text-decoration: none;
}

.card-text {

    color: black;
}

#sidebar {
    width: 250px;
    float: right;
    margin-top: 40px;
}

.nav-item001:hover {
    background-color: #2fa4e7;
    color:white;
    font-size: large;
}



#frontpagefooter {
    bottom: 0;
    height: 100px;
    width: 100%;
    display: block;
    position: absolute;
    text-align: center;
    justify-content: center;
}

#hover002:hover {
    color: grey;
    font-size: large;
}

#hover001:hover {
    font-size: large;
}