html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.header-top {
    margin-top: 20px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-content: flex-start;
}

#left {
    position: absolute;
    margin-top: 150px;
    top: 0;
    left: 0;
    height: 100%;
}

#right {
    margin-top: 50px;
    margin-left: 200px;
    height: 100%;
    font-size: large;
}
}

a:link {

    text-decoration: none;
}

.card-text {

    color: black;
}

