@model _23._1News.Models.Db.Article
@{
    ViewData["Title"] = "Home Page";
}



<br />
<div class="row">
 
        <div class="card col-md-12">
            <img src="~/images/@Model.ImageLink" class="card-img-top" alt="...">
            <div class="card-body">
                <a asp-controller="Article" asp-action="Details" asp-route-id="@Model.Id">
                    @*<h5 class="card-title">mitem.LinkText</h5>*@
                    <h5 class="card-title">@Model.Headline</h5>
                    <p class="card-text">@Model.ContentSummary</p>
                    <p class="card-text">@Model.Content</p>
                </a>
            </div>

        </div>
   
</div>