<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]-23.1News</title>
    <link rel="icon" href="~/23_favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="~/css/bootswatchtheme.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="~/css/fontawesome-5.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/_23._1News.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
</head>
<body>
    <header>
        <div class="header-top1" style="align-content:start;">
            <div>
                <img src="~/image/logo.png" href="Home/Index.html" alt="23.1" />
            </div>
            <div>
                <h4 id="clock" style="text-align:center;padding:5px;margin-left:450px;margin-top:9px;"></h4>
            </div>
        </div>

        <nav class="navbar navbar-expand-lg bg-light" data-bs-theme="light">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarColor03">
                    <ul class="navbar-nav me-auto d-flex justify-content-start">

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        &nbsp;&nbsp; &nbsp;&nbsp;

                        <img src="~/image/images.jpg" alt="" width="32" height="32" class="rounded-circle me-2">
                        <li class="nav-item">
                            <partial name="_AdminLoginPartial" />
                        </li> 
                    </ul>
                  
                   
                   
                    <form class="d-flex justify-content-center">
                        <input class="form-control me-sm-2" type="search" placeholder="Search">
                        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                    </form>
                    
                </div>
            </div>
        </nav>

    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - WebApplication1 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @*     <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    *@
    <script src="https://cdn.datatables.net/v/bs5/jq-3.7.0/dt-1.13.6/b-2.4.2/fc-4.3.0/sc-2.2.0/sb-1.6.0/sp-2.2.0/sl-1.7.0/datatables.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
   @*  <script>
        function displayTime() {
            var d = new Date();
            var hour = d.getHours();
            if (hour < 10) {
                hour = "0" + hour;
            }
            var min = d.getMinutes();
            if (min < 10) {
                min = "0" + min;
            }
            var sec = d.getSeconds();
            if (sec < 10) {
                sec = "0" + sec;
            }
            document.getElementById("clock").innerText = "Time:" + hour + ":" + min + ":" + sec;

        }
        setInterval(displayTime, 1000);

        const d = new Date();
        var date = (d.getDate());
        var year = d.getFullYear();
        var month = d.getMonth();
        var day = d.getDay();

        document.getElementById("demo").innerText = year + ":" + month + ":" + date;
    </script> *@
</body>
</html>

