@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To 23 News</h1>
    <p>
        <em>
            Welcome to our news site! Here you will find the latest news and updates from around the world.
            Our team of experienced journalists and reporters work tirelessly to bring you the most accurate and up-to-date information on a wide range of topics, including politics, business, sports, entertainment,
            and more. We strive to provide our readers with a comprehensive view of the world, covering both local and international news.
            Stay tuned for breaking news alerts, in-depth analysis, and exclusive interviews with some of the most influential people in the world. Thank you for choosing us as your go-to source for news!
        </em>
    </p>
</div>