@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="container">
<h1>@ViewData["Title"]</h1>

<p>
    These Terms and Conditions (“T&C’s” or “Terms & Conditions”) govern your access to and use of this website/(s) (“website” or “site”) operated by . This statement discloses the privacy practices for the websites of , having registered office at 301, 3rd Floor, Boston House, Suren Road, Western Express Highway, Andheri East, Mumbai – 400093 and corporate office at 1st & 2nd Floor, Sovereign Capital Gate, FC-12, Film City, Sector 16A, Noida, Uttar Pradesh – 201301.

    As we update, improve, and expand the Services and in light of ever evolving legal and regulatory landscape in the country, this policy may change, so please refer back to it periodically. Our products or services may include third-party products or services. When you use these products or services for which you may have consented, there is a likelihood that they may also collect and use your information to serve you. By accessing the Company website or this Application or otherwise using the Services, you consent to collection, storage, and use of the personal information you provide (including any changes thereto as provided by you) for any of the services that we offer. In case you want to withdraw your consent or seek removal of your personal information from ABP servers, you may do so by writing an email at feedback.abplive@abpnetwork.com and rajv@abpnetwork.com.

    The Company respects the privacy of the users of the Services and is committed to reasonably protect it in all respects.

    Any use of the website/(s) (currently existing and which may be developed in future) owned and managed by ABP shall be construed as your acceptance of this Privacy Policy and if you do not accept the Privacy Policy enumerated herein below, please do not proceed further to use/access the site.
</p>

<h3>A. What information do we collect?</h3>
<h4>Registration data:</h4>
<p>
    When you register on the website, Application and for the Service, we ask that you provide basic contact Information  your name, gender, age, address, pin code, contact number, occupation, interests, and email address etc. When you register using your other accounts like on Facebook, Twitter, Gmail etc. we shall retrieve Information from such account only with your permission to continue to interact with you and to continue providing the Services and not share that any further to any party external to users who can benefit from it directly or indirectly.

    Integrated Service Provider and Linked Networks: You can elect to sign in or sign up to the ABP Platform through a linked network (i.e., Facebook or Twitter), and you can connect your existing ABP account with certain third-party networks like Facebook, Twitter, and LinkedIn (each a “Linked Network”). If you elect to sign up through or connect a Linked Network, we receive certain profile and account information about you from the Linked Network. These Linked Networks may also appear in your profile, so that people can find you on these Linked Networks. The specific information provided to us by Linked Networks is determined by these third parties and may vary by network. In all cases, the permissions page for the Linked Network will describe information being shared. You should consult their respective privacy policies for information about their practices. You may disconnect from the Linked Network by “Signing Out” option present in the Application/Website/Product through the easily accessible Login area, the position of which may vary with products.
</p>

<h4>Voluntary information:</h4>
<p>We may collect additional information at other times, including but not limited to, when you provide feedback, change your content or email preferences, respond to a survey, or communicate with us. If you apply to take part in a programme on politics, for example, we might ask you about your political opinions. We do not share your personal private data with anyone.</p>
    <h4>Processing of personal data of children and person with disability:</h4>
    <p>
        ABP shall, before processing any personal data of a child or a person with disability who has a lawful guardian obtain verifiable consent of the parent of such child or the lawful guardian, as the case may be, in such manner as may be prescribed under the Digital Personal Data Protection Act 2023 [“DPDP Act”].
        ABP shall not undertake such processing of personal data that is likely to cause any detrimental effect on the well-being of a child.
        ABP shall not undertake tracking or behavioural monitoring of children or targeted advertising directed at children.
        The above provisions [under (a) & (c)] shall not be applicable to processing of personal data of a child by such classes of Data Fiduciaries or for such purposes, and subject to such conditions, as may be prescribed under the DPDP Act.
        The Central Government may, if satisfied that a Data Fiduciary has ensured that its processing of personal data of children is done in a manner that is verifiably safe, notify for such processing by such Data Fiduciary the age above which that Data Fiduciary shall be exempt from the applicability of all or any of the obligations under (a) & (c) in respect of processing by that Data Fiduciary as the notification may specify.
    </p>

    <h3>B. INFORMATION AUTOMATICALLY COLLECTED/ TRACKED WHILE NAVIGATION</h3>
    <h4>
        Cookies/Local Storage
    </h4>
    <p>
        Cookies/Local Storage are small files that a site or its service provider transfers to your computers’ hard drive through your Web browser (if you allow) that enables the sites or service providers systems to recognize your browser and capture and remember certain information.

        To improve the responsiveness of the "Product" for our users, we may use "cookies/local storage", or similar electronic tools to collect information to assign each visitor a unique, random number as a User Identification (User ID) to understand the user's individual interests using the identified computer. Unless you voluntarily identify yourself (through registration, for example), we will have no way of knowing who you are, even if we assign a cookie to your computer. The only personal information a cookie can contain is information you supply. A cookie cannot read data off your hard drive. Our advertisers may also assign their own cookies/local storage to your browser (if you click on their ads), a process that we do not control. We receive and store certain types of information whenever you interact with us via website, Application or Service though your computer/laptop/netbook or mobile/tablet/pad/handheld device etc.

        Your Freedom to Withdraw Your Consent at Any Time: If you do not wish to accept cookies/local storage in connection with your use of the ABP Platform, you will need to delete, and block or disable cookies/local storage via your browser settings (Please consult your web browser’s Help documentation for more information on this process.) Please note that disabling cookies/local storage will affect the functionality of the ABP Platform, and may prevent you from being able to access certain features on the websites/products/applications.
    </p>

</div>