﻿﻿﻿
@model _23._1News.Models.Db.Subscription

@{
    ViewData["Title"] = "Create";
    var subTypeId = TempData["subTypeId"];
    var subTypeName = TempData["subTypeName"];
    var subTypePrice = TempData["subTypePrice"];
    var subTypeDescription = TempData["subTypeDescription"];
    var s = Convert.ToInt32(subTypeId);

}


<script src="https://kit.fontawesome.com/e8fa2e31b4.js" crossorigin="anonymous"></script>



<h1>Welcome to Subscribe</h1>
<hr />

<div class="row">
    <div class="col-xl-4 col-sm-12">
        <h4>Your Plan:</h4>
        <div class="card mb-4 rounded-3 shadow-sm border-primary">
            <div class="card-header py-3 text-bg-primary border-primary">
                <h4 class="my-0 fw-normal" style="color:white">@subTypeName</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">$ @subTypePrice<small class="text-body-secondary fw-light">/mo</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>@subTypeDescription</li>
                </ul>
            </div>
        </div>
    </div>
    @if (s == 6)
    {
        <div class="col-xl-4 col-sm-12">
            <form asp-action="Create" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Subscribe</button>
                </div>

            </form>
        </div>

    }


    else
    {
        <div class="col-xl-8 col-sm-12">
            <div class="row">
                <div class="container-fluid d-flex justify-content-center">
                    <div class="col-sm-8 ">
                        <div class="card card-details">
                            <div class="card-header">

                                <div style="display:flex;justify-content:right;">
                                    <img src="https://img.icons8.com/color/36/000000/visa.png">
                                    <img src="https://img.icons8.com/color/36/000000/mastercard.png">
                                    <img src="https://img.icons8.com/color/36/000000/amex.png">

                                </div>

                            </div>

                            <div class="card-body" style="height: 350px">
                                <div class="c-details">
                                    <h6>Card number</h6>
                                    <div class="c-number" id="c-number">
                                        <input id="number" class="cc-number" placeholder="Card number" maxlength="19" style="width:100%" required>
                                    </div>
                                    <br>
                                    <div>
                                        <h6>Expiry date</h6>
                                        <input id="e-date" class="cc-exp" placeholder="MM/YY" maxlength="5" style="width:100%" required>
                                    </div>
                                    <br>
                                    <div>
                                        <h6>CVV</h6>
                                        <div class="cvv-box" id="cvv-box">
                                            <input id="cvv" class="cc-cvv" placeholder="CVV" maxlength="3" style="width:100%" required>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <br>
                                <form asp-action="Create" method="post">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="form-group">
                                        <button type="submit" class=" btn btn-primary btn-lg form-control"
                                                style="font-size: .8rem;">
                                            Sbscribe Now
                                        </button>
                                    </div>
                                </form>
                            </div>

                        </div>

                    </div>
                </div>
            </div>

        </div>


    }


</div>


<script src="~/js/card.js"></script>


