@model _23._1News.Models.Db.Subscription

@{
    ViewData["Title"] = "Create";
}

<h1>Welcome to Subscribe</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           @*  <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label for="exampleSelect1" class="form-label mt-4">SubscriptionType</label>
                <select class="form-select" id="exampleSelect1">
                    <option>Free</option>
                    <option>Pro</option>
                    <option>Enterprise</option>
                </select>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Created" class="control-label"></label>
                <input asp-for="Created" class="form-control" />
                <span asp-validation-for="Created" class="text-danger"></span>
            </div> *@
            @* <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="PaymentComplete" /> @Html.DisplayNameFor(model => model.PaymentComplete)
                </label>
            </div> *@
            <div class="form-group">
                @* <a asp-controller="Subscription" asp-action="Create" class="btn btn-primary">Subscrib</a> *@
                <button type="submit" class="btn">Subscribe</button>
            </div>
            
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

