@model _23._1News.Models.ViewModels.MyPageVM
@{
    Layout = "_MyPageLayout";
    ViewData["Title"] = "MyPage";
}

<div class="container mt-4">
    <h1><i class="fas fa-user"></i> Hello! @User.Identity.Name!</h1>

    <div>
        <h4>Account Information</h4>
        <table class="table">
            <tr>
                <th>
                    Is Premium User
                </th>
                <td>
                    @Html.DisplayFor(model => model.IsEnterpriseUser)
                </td>
            </tr>
            <tr>
                <th>
                    Is Subscribed to Newsletter
                </th>
                <td>
                    @Html.DisplayFor(model => model.IsSubscribedToNewsletter)
                </td>
            </tr>
        </table>
    </div>

    <div class="mt-4">
        <h4>Manage Your Account</h4>
        <ul>
            @if (!Model.IsEnterpriseUser)
            {
                <li><a asp-action="UpgradeSubscription">Upgrade Your Subscription</a></li>
            }
            <li><a asp-action="ResetPassword">Reset Password</a></li>
           @*  <li><a asp-action="SubscribeToNewsletter">Subscribe To Newsletter</a></li> *@
            <li><a asp-action="ManageNewsletter">Manage Newsletter</a></li>
        </ul>
    </div>

    <div class="mt-4">
        <a asp-action="Index" class="btn btn-secondary">Back to HomePage</a>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
