@using Microsoft.AspNetCore.Identity
@using _23._1News.Models.Db;
@model IEnumerable<_23._1News.Models.Db.Article>


@{
	Layout = "/Views/Shared/_AdminLayout.cshtml";
}

<main>

    <div class="navbar navbar-expand" style="margin-top:50px">
        <partial name="_LoginPartial" />
    </div>

@if (User.IsInRole("Admin"))
{

        <div class="row">
            <div class="card text-white border-primary col-lg-4 col-sm-6" style="max-width:25rem;margin-top:10px">
                <div class="card-header bg-primary">
                    <h5 style="color:white"><span class="fa fa-pencil mr-3"></span>News</h5>
                </div>
                <div class="card-body">
                    <a asp-controller="Article" asp-action="Create">
                        <h5 style="color:#2fa4e7"><span class="fa fa-sticky-note mr-3"></span> Add News</h5>
                    </a>
                    <br />
                    <a asp-controller="Article" asp-action="Index" style="margin-top:-10px;border-bottom:none;">
                        <h5 style="color:#2fa4e7"><span class="fa fa-file-text mr-3"></span> News List</h5>
                    </a>
                </div>
            </div>

            <div class="card text-white border-primary col-lg-4 col-sm-6" style="max-width:25rem;margin-top:10px">
                <div class="card-header bg-primary">
                    <h5 style="color:white"><span class="fa fa-book mr-3"></span> Category</h5>
                </div>
                <div class="card-body">
                    <a asp-controller="Category" asp-action="Create" style="margin-top:-10px;border-bottom:none;">
                        <h5 style="color:#2fa4e7"><span class="fa fa-book mr-3"></span> Add Category</h5>
                    </a>
                    <br />
                    <a asp-controller="Category" asp-action="Index" style="margin-top:-10px;">
                        <h5 style="color:#2fa4e7"><span class="fa fa-list mr-3"></span> Category List</h5>
                    </a>
                </div>
            </div>

            <div class="card text-white border-primary col-lg-4 col-sm-6" style="max-width:25rem;margin-top:10px">
                <div class="card-header bg-primary">
                    <h5 style="color:white"><span class="fa fa-pencil mr-3"></span>Employee</h5>
                </div>
                <div class="card-body">
                    <a asp-controller="Employee" asp-action="CreateEmployee" style="margin-top:-20px;border-bottom:none;">
                        <h5 style="color:#2fa4e7"><span class="fa fa-address-book mr-3"></span> Add Employee</h5>
                    </a>
                    <br />
                    <a asp-controller="Employee" asp-action="EmployeeList" style="margin-top:-20px;border-bottom:none;">
                        <h5 style="color:#2fa4e7"><span class="fa fa-address-card mr-3"></span> Employee List</h5>
                    </a>
                    <br />
                </div>
            </div>

            <div class="card text-white border-primary col-lg-4 col-sm-6" style="max-width:25rem;margin-top:10px">
                <div class="card-header bg-primary">
                    <h5 style="color:white"><span class="fa fa-user mr-3"></span>User</h5>
                </div>
                <div class="card-body">
                    <a asp-controller="Admin" asp-action="UserList" style="margin-top:-20px;border-bottom:none;">
                        <h5 style="color:#2fa4e7"><span class="fa fa-user-circle-o mr-3"></span> User List</h5>
                    </a>
                    <br />
                    <a asp-controller="Admin" asp-action="UserRoles" style="margin-top:-10px;border-bottom:none;">
                        <h5 style="color:#2fa4e7"><span class="fa fa-user mr-3"></span> User Roles</h5>
                    </a>
                    <br />
                    <a asp-controller="Admin" asp-action="CreateRoles" style="margin-top:-10px;border-bottom:none;">
                        <h5 style="color:#2fa4e7"><span class="fa fa-user-plus mr-3"></span> Create Roles</h5>
                    </a>
                    <br />
                    <a asp-controller="Admin" asp-action="RoleList" style="margin-top:-10px;">
                        <h5 style="color:#2fa4e7"><span class="fa fa-users mr-3"></span> Role List</h5>
                    </a>
                </div>
            </div>

            <div class="card text-white border-primary col-lg-4 col-sm-6" style="max-width:25rem;margin-top:10px">
                <div class="card-header bg-primary">
                    <h5 style="color:white"><span class="fa fa-envelope mr-3"></span>Subscription Type</h5>
                </div>
                <div class="card-body">
                    <a asp-controller="SubscriptionType" asp-action="Create" style="margin-top:-20px;border-bottom:none;">
                        <h5 style="color:#2fa4e7"><span class="fa fa-envelope mr-3"></span> Add Plan</h5>
                    </a>
                    <br />
                    <a asp-controller="SubscriptionType" asp-action="List" style="margin-top:-10px;border-bottom:none;">
                        <h5 style="color:#2fa4e7"><span class="fa fa-envelope-square mr-3"></span> Plan List</h5>
                    </a>
                </div>
            </div>

            <div class="card text-white border-primary col-lg-4 col-sm-6" style="max-width:25rem;margin-top:10px">
                <div class="card-header bg-primary">
                    <h5 style="color:white"><span class="fa fa-envelope-open mr-3"></span>Subscription</h5>
                </div>
                <div class="card-body">
                    <a asp-controller="Subscription" asp-action="Index" style="margin-top:-10px;border-bottom:none;">
                        <h5 style="color:#2fa4e7"><span class="fa fa-envelope-open mr-3"></span> Subscription List</h5>
                    </a>
                    <br />
                    <a asp-controller="Subscription" asp-action="SubscriptionStatistics" style="margin-top:-10px;">
                        <h5 style="color:#2fa4e7"><span class="fa fa-bar-chart mr-3"></span> Subscription Statistics</h5>
                    </a>
                </div>
            </div>

        </div>

}

else if (User.IsInRole("Editor"))
{

        <div class="row">
            <div class="card text-white border-primary col-lg-4 col-sm-6" style="max-width:25rem;margin-top:10px">
                <div class="card-header bg-primary">
                    <h5 style="color:white"><span class="fa fa-pencil mr-3"></span>News</h5>
                </div>
                <div class="card-body">
                    <a asp-controller="Article" asp-action="Create">
                        <h5 style="color:#2fa4e7"><span class="fa fa-sticky-note mr-3"></span> Add News</h5>
                    </a>
                    <br />
                    <a asp-controller="Article" asp-action="Index" style="margin-top:-10px;border-bottom:none;">
                        <h5 style="color:#2fa4e7"><span class="fa fa-list mr-3"></span> News List</h5>
                    </a>
                </div>
            </div>

            <div class="card text-white border-primary col-lg-4 col-sm-6" style="max-width:25rem;margin-top:10px">
                <div class="card-header bg-primary">
                    <h5 style="color:white"><span class="fa fa-book mr-3"></span>Category</h5>
                </div>
                <div class="card-body">
                    <a asp-controller="Category" asp-action="Create" style="margin-top:-10px;border-bottom:none;">
                        <h5 style="color:#2fa4e7"><span class="fa fa-book mr-3"></span> Add Category</h5>
                    </a>
                    <br />
                    <a asp-controller="Category" asp-action="Index" style="margin-top:-10px;">
                        <h5 style="color:#2fa4e7"><span class="fa fa-list mr-3"></span> Category List</h5>
                    </a>
                </div>
            </div>

        </div>
      
}


</main>
			
	













